.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5vmin;
    position: fixed;
    top: 7%;
    animation: fadeInDown 1s;
}
  
.size-40 {
    color: white;
    font-size: 4vmin;
    animation: fadeIn 1s;
}

ul, li {
    column-gap: 1.5vw;
    padding: 0;
    list-style: none;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
    scale: calc(1.2);
    transition: all .2s ease-in-out;
    color: #39FF14;
}
  
/* contact dropdown */

.dropdown:hover .dropdown-content {
    display: flex;
    column-gap: 2vmin;
}
  
.dropdown-content {
    display: none;
    position: fixed;
    font-size: 2.5vmin;
    left: 50%;
    top: 120%;
    transform: translate(-50%);
}
  
.dropdown-content a:hover {
    color: #39FF14;
}

@media screen and (max-width: 1000px) {

    .Nav {
        column-gap: 7vmin;
    }
    
    .size-40 {
        font-size: 8vmin;
    }

    .dropdown:hover .dropdown-content {
        column-gap: 5vmin;
        position: fixed;
        left: 255%;
        top: 140%;
        transform: none;
    }
}